*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --light-red: #e3b6b6;
}

header{
    margin-top: 70px;
}

.left-group{
    /* border: 1px solid red; */
    width: 80%;
    margin-top: 150px;
}

.title{
    font-size: 3.9vw;
    letter-spacing: 4.5mm;
    width: 70%;
    margin-bottom: 30px;
}

.different-color{
    font-weight: 300;
    color: var(--desaturated-red);
}

.description{
    color: var(--desaturated-red);
    width: 70%;
    font-size: 1vw;
    line-height: 1.8;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.left-container{
    width: 60%;
    height: 100%;
    padding-left: 10%;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.email-container{
    border: 2px solid var(--light-red);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 50px;

}

.email{
    font-size: 18px;
    padding: 20px 15px  20px 15px;
    border: none;
    width: 83%;
    border-radius: 25px;

    color: var(--desaturated-red);
}

.email::placeholder{
    color: var(--light-red);
}

.email:focus{
    border: none;
    outline-width: 0;
    outline-color: var(--desaturated-red);
}

.email-button{
    font-size: 40px;
    width: 18%;
    margin-right: -25px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-radius: 25px;
    box-sizing: content-box;
    border: none;
    font-weight: 300;
    color: white;
    padding: 0px 7px;
    background: rgb(227,182,182);
    background: linear-gradient(90deg, rgba(227,182,182,1) 57%, rgba(215,151,151,1) 100%);
}

.email-button:hover{
    background: var(--desaturated-red);
}

.right-container{
    width: 40%;
    height: 100%;
}

.right-side-img{
    height: 100%;
    width: 100%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.error{
    color: var(--light-red);
    margin-top: 15px;
    padding-left: 15px;
}

.hidden{
    display: none;
}

.error-outline{
    border: 2px solid var(--soft-red);
}

.ex-error-container{
    height: 59px;
    width: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ex-error{
    background: var(--soft-red);
    color: white;
    padding: 10px;
    height: 39px;
    width: 39px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
}

@media only screen and (max-width: 375px){
    .main-container{
        flex-direction: column;
    }

    header{
        margin-top: 0;
        width: 100%;
        padding: 35px;
        position: fixed;
        top: 0;
        background: white;
    }

    .left-container {
        width: 100%;
        padding-left: 0;
        height: 50vh;
    }
    
    .left-group{
        margin: 0;
        width: 100%;
    }

    .title{
        margin: auto;
        text-align: center;
        padding-top: 51px;
        font-size: 10.9vw;
    }
    
    .description{
        text-align: center;
        width: 80%;
        font-size: 3.8vw;
        padding-top: 20px;
        margin: auto;
    }

    .email-container{
        width: 80%;
        margin: 25px auto 0 auto;
    }

    .error{
        width: 80%;
        text-align: center;
        margin: 15px auto;
        padding-bottom: 45px;
    }

    .right-container{
        display: none;
    }

    .right-side-img{
        display: none;
    }

    .mobile-image{
        display: block;
    }

    .mobile-image img{
        margin-top: 105px;
        height: 38vh;
        width: 100%;
        object-fit: cover;
    }
}